<a href="https://colab.research.google.com/github/SamaSamrin/Restaurant-EDA/blob/main/Restaurant_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import seaborn as sns
import numpy as np
import pandas as pd

Mounting to my  Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Accessing data files from my Google Drive

In [5]:
folder_path = "/content/drive/MyDrive/Data Science/data/restaurant_data_with_consumer_ratings/"

#importing individual CSV files
accepted_payment_methods = pd.read_csv(folder_path+"chefmozaccepts.csv")

Exploring the file contents:

In [6]:
display(accepted_payment_methods)

      placeID             Rpayment
0      135110                 cash
1      135110                 VISA
2      135110  MasterCard-Eurocard
3      135110     American_Express
4      135110     bank_debit_cards
...       ...                  ...
1309   132012          Diners_Club
1310   132002  MasterCard-Eurocard
1311   132002                 Visa
1312   132002     American_Express
1313   132002          Diners_Club

[1314 rows x 2 columns]